.teacher-button-container {
  display: grid;
  margin: auto;
  width: 60vmin;
  min-width: fit-content;
  height: 50vmin;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, 6rem);
  grid-gap: 1rem;
  padding-top: 1rem;
  justify-content: center;
}

.teacher-card {
}

.teacher-button {
  width: 10rem;
  height: 5rem;
  border-radius: 3px;
  background-color: #18404c;
  color: white;
  font-size: large;
}
