:root {
  --blink: #1E88E5;
  --completed: #D81B60;
  --task: #004D40;
  --current: #1E88E5;
  --taskbg: #FFC107; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

.navigation {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr; }
  .navigation__title {
    text-align: center; }
  .navigation__logo {
    align-self: center;
    max-width: 150px;
    width: 90%; }

.task {
  background-color: var(--taskbg);
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  letter-spacing: .2em; }
  .task__pending, .task__completed {
    white-space: pre;
    border-bottom: 2px solid transparent;
    box-sizing: border-box; }
  .task__pending {
    color: var(--task); }
  .task__current {
    color: var(--current);
    white-space: pre;
    border-bottom: 2px solid var(--blink);
    box-sizing: border-box;
    animation: blink 500ms infinite alternate; }
@keyframes blink {
  from {
    border-bottom: 2px solid transparent; }
  to {
    border-bottom: 2px solid var(--blink); } }
  .task__completed {
    color: var(--completed); }

.keyboard {
  width: 90vw;
  margin: auto;
  border-radius: 15px; }
  .keyboard__list {
    padding: 0;
    list-style: none;
    display: flex; }
  .keyboard__key {
    margin: 0 .5em 0 0;
    flex-grow: 1;
    border: 2px solid black;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: x-large; }
    .keyboard__key--caps {
      width: 3.5em; }
    .keyboard__key--ctrl {
      max-width: 3.5em; }
    .keyboard__key--l-shift {
      width: 2.5em; }
    .keyboard__key--r-shift {
      width: 5em; }
    .keyboard__key--backspace {
      width: 4em; }
    .keyboard__key--tab {
      width: 3em; }
    .keyboard__key--highlight {
      background-color: red;
      color: white;
      font-weight: bold; }

.stats {
  background-color: khaki;
  display: flex;
  justify-content: space-evenly;
  height: 4em;
  padding-top: 3em; }
