:root {
    --blink: #1E88E5;
    --completed: #D81B60;
    --task: #004D40;
    --current: #1E88E5;
    --taskbg: #FFC107;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

    &__title {
        text-align: center;
    }

    &__logo {
        align-self: center;
        max-width: 150px;
        width: 90%;
    }
}

.task {
    background-color: var(--taskbg);
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    letter-spacing: .2em;

    &__pending, &__completed {
        white-space: pre;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
    }

    &__pending {
        color: var(--task);
    }
    
    &__current {
        color: var(--current);
        white-space: pre;
        border-bottom: 2px solid var(--blink);
        box-sizing: border-box;
        animation: blink 500ms infinite alternate;
    }

    @keyframes blink {
        from {border-bottom: 2px solid transparent;}
        to {border-bottom: 2px solid var(--blink);}
    }

    &__completed {
        color: var(--completed);
    }
}

.keyboard {
    width: 90vw;
    margin: auto;
    border-radius: 15px;

    &__list {
        padding: 0;
        list-style: none;
        display: flex;
    }

    &__key {
        margin: 0 .5em 0 0;
        flex-grow: 1;
        border: 2px solid black;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        font-size: x-large;

        &--caps {
            width: 3.5em;
        }

        &--ctrl {
            max-width: 3.5em;
        }

        &--l-shift {
            width: 2.5em;
        }

        &--r-shift {
            width: 5em;
        }

        &--backspace {
            width: 4em;
        }

        &--tab {
            width: 3em;
        }

        &--highlight {
            background-color: red;
            color: white;
            font-weight: bold;
        }
    }
}

.stats {
    background-color: khaki;
    display: flex;
    justify-content: space-evenly;
    height: 4em;
    padding-top: 3em;

    &__timer {
        
    }

    &__minutes {

    }

    &__devider {

    }

    &__seconds {

    }

    &__correct {
        &__number {

        }
    }

    &__fail {
        &__number {

        }
    }

    &__success-rate {

    }

    &__settings {

    }

    &__pause {

    }
}