.end-screen {
  position: absolute;
  top: 10%;
  height: 90%;
  width: 100%;
  background-color: rgb(154, 217, 230);
}

.es__text p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3em;
}

.button-container {
  grid-column: span 2;
}
