:root {
  --timer: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
}

nav {
  height: 20%;
  width: 100%;
}

.main-screen {
  width: 100%;
  height: 80vh;
  max-height: 80%;
}

.timer {
  width: var(--timer);
  height: 10px;
  background-color: red;
}

.hidden {
  display: none;
}
