:root {
  --timer: 100%;

  --image-height: calc((100vw - 1rem) * (1139 / 4176));

  --currentX: 0;
  --currentY: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(154, 217, 230);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 4fr) minmax(
      100px,
      1fr
    );
  place-items: center;
  background-color: rgb(117, 189, 120);
  padding: 0 0.5rem;
  box-sizing: border-box;
}

a {
  text-align: center;
}

.link {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  width: 100%;
  display: flex;
  place-items: center;
  padding: 1rem 0;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.link__img {
  height: 2rem;
}

.header {
  max-height: 10vh;
  max-width: 80%;
}

.logo {
  max-width: 150px;
  box-sizing: border-box;
}

.main-screen {
  width: 100%;
  max-width: 1050px;
  height: 90vh;
  max-height: 90%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.letter-section {
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 4rem;
  font-weight: bold;
  line-height: 10vh;
  border-radius: 1rem 1rem 0 0;
  margin-top: 0.5rem;
}

.single-letter {
  margin: auto;
  width: 50rem;
  position: relative;
  color: #18404c;
}

.left-letter {
  position: absolute;
  z-index: 9999;
  left: 0;
}

.right-letter {
  position: absolute;
  z-index: 9999;
  right: 0;
}

.input-hidden {
  opacity: 0;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  width: 0;
  height: 0;
  display: inline-block;
}

.word {
  width: 100%;
  display: flex;
  place-content: center;
}

.word__previous-letter {
  color: white;
}

.word__current-letter {
  color: #18404c;
}

.word__next-letter {
  color: white;
}

.illustration-section {
  height: var(--image-height);
  position: relative;
  margin: auto;
}

.tt-figurine {
  position: absolute;
  width: 15%;
  left: var(--currentX);
  top: var(--currentY);
}

.tt-background {
  height: var(--image-height);
}

.timer {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-items: flex-end;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  border: 2px solid #ccaa11;
  box-sizing: border-box;
}

.letter-blink {
  animation: blink 1s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.countdown {
  height: var(--timer);
  width: 100%;
  background-color: #ccaa11;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  :root {
    --image-height: calc((1050px - 1rem) * (1139 / 4176));
  }
}
