.start-screen {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 100%;
  background-color: rgb(154, 217, 230);
}

.wrapper {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: rgba(117, 189, 120, 0.8);
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 100px;
  place-items: center;
  gap: 1rem;
}

.ss__left-column--text {
}

.ss__left-column--video {
}

.ss__video {
  border-radius: 1rem;
  width: 100%;
}

.ss__start-button {
  grid-column: span 2;
}

.ss__right-column {
  display: grid;
  place-items: center;
}

.ss__figurine {
  width: 80%;
  margin: auto;
}
